<% vtuber.each do |v| %>
  <div class="d-flex border-top">
    <div class="col-8">
      <div class="text-left my-2">
        <% case v.gender %>
        <% when "男性" then %>
          <%= image_tag v.image.url, class: "rounded-circle", size: "50x50", style: "border: solid; border-color: #0000ff;" %>
        <% when "女性" then %>
          <%= image_tag v.image.url, class: "rounded-circle", size: "50x50", style: "border: solid; border-color: #ff0000;" %>
        <% when "その他" then %>
          <%= image_tag v.image.url, class: "rounded-circle", size: "50x50", style: "border: solid; border-color: #ffff00;" %>
        <% when nil then %>
          <%= image_tag v.image.url, class: "rounded-circle border border-black", size: "50x50" %>
        <% end %>
        <span class="mx-4">
          <%= v.name %>
        </span>
      </div>
    </div>
    <div class="col-3">
      <div class="text-center my-3">
        　　　<%= link_to "見る", vtuber_path(v.id), class: "btn btn-info" %>
      </div>
    </div>
    <div class="col-1 mt-4">
      <%= link_to favorite_user_path(v), method: :delete, remote: true, class: "text-decoration-none link-dark" do %>
        　<i class="fa-solid fa-heart" aria-hidden="true" style="color: red;"></i>
      <% end %>
    </div>
  </div>
<% end %>