<% content_for(:title, "ユーザー名の変更") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 my-5 py-5">
      <%= form_with model: @user, url: name_user_path, local: true do |f| %>
        <%= render 'shared/error_message', object: f.object %>
        <h3 class="mt-5">ユーザー名の変更</h3>
        <div class="mt-5">
          <%= f.label :name, "現在のユーザー名", class: "form-label" %>
          <p><%= current_user.name %></p>
        </div>
        <div class="mt-5">
          <%= f.label :name, "新しいユーザー名", class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="text-center mt-5">
          <%= link_to "戻る", user_path, class: "btn btn-secondary mx-4 px-5" %>
          <%= f.submit "保存", class: "btn btn-primary px-5 my-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>