<div class="container">
  <div class="row mt-5">
    <% if @vtubers.present? %>
      <% if @tag_name %>
        <p class="mb-5">タグ「<%= @tag_name %>」の検索結果：　<%= @vtubers.count %></p>
      <% end %>
      <% @vtubers.each do |vtuber| %>
        <div class="col text-center">
          <%= link_to vtuber_path(vtuber.id), class: "text-decoration-none" do %>
            <% case vtuber.gender %>
            <% when "男性" then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle", size: "250x250", style: "border: solid; border-color: #0000ff;" %>
            <% when "女性" then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle", size: "250x250", style: "border: solid; border-color: #ff0000;" %>
            <% when "その他" then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle", size: "250x250", style: "border: solid; border-color: #ffff00;" %>
            <% when nil then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle border border-black", size: "250x250" %>
            <% end %>
            <p class="mb-5 fs-1 text-body"><%= vtuber.name %></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="col">
        登録されていません
      </div>
    <% end %>
  </div>
  
  <div class="row my-5 pb-5">
    <div class="col d-flex justify-content-center mt-5 pb-5">
      <%= paginate @vtubers, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
