<% content_for(:title, "作成") %>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center my-5 py-5">
      <%= form_with model: @vtuber, url: new_path, local: true, id: "content_setting" do |f| %>
        <%= render 'shared/error_message', object: f.object %>
        <div class="mb-5">
          <%= f.label :name, "VTuberのお名前", class: "form-label" %><small class="text-danger fw-semibold">（必須）</small>
          <%= f.text_field :name, class: "form-control " %>
        </div>
        <div class="mb-5">
          <%= f.label :name_x, "Xのユーザー名", class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <%= f.text_field :name_x, class: "form-control " %>
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :gender, "性別", class: "form-label" %>
          <div>
            <%= f.radio_button :gender, "男性" %>男性　　
            <%= f.radio_button :gender, "女性" %>女性　　
            <%= f.radio_button :gender, "その他" %>その他
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :birthday, "誕生日", class: "form-label" %>
          <div>
            <%= f.date_select :birthday, {:discard_year => true, include_blank: true } %>
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :debut_date, "デビュー日", class: "form-label" %>
          <%= f.date_field :debut_date, class: "form-control" %>
        </div>
        <%= f.fields_for :vtuber_places do |place_fields| %>
          <div class="mb-5">
            <%= place_fields.label :place_id, "配信サイト", class: "form-label" %><small class="text-danger fw-semibold">（必須）</small>
            <div class="input-group">
              <%= place_fields.collection_select(:place_id, Place.where(id:[1,2]), :id, :name, {prompt: "選択"}, {class: "btn btn-outline-secondary"} ) %>
              <%= place_fields.text_field :url, class: "form-control", placeholder: "選択した配信サイトのURL" %>
            </div>
          </div>
        <% end %>
        <div class="mb-5">
          <%= f.label :content, "配信ジャンル（複数選択可能）", class: "form-label" %>
          <div>
          <%= f.collection_check_boxes(:content_ids, Content.all, :id, :name) do |c| %>
            <%= c.label { c.check_box + c.text } %>　　
          <% end %>
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :like, "好きなこと", class: "form-label" %>
          <%= f.text_field :like, class: "form-control" %>
        </div>
        <div class="mb-5">
          <%= f.label :unlike, "嫌いなこと", class: "form-label" %>
          <%= f.text_field :unlike, class: "form-control" %>
        </div>
        <div class="mb-5">
          <%= f.label :image, "アイコン", class: "form-label" %>
          <%= f.file_field :image, class: "form-control" %>
          <div id="previews"></div>
        </div>
        <div class="mb-5">
          <%= f.label :tag, "タグ", class: "form-label" %>
          <%= f.text_field :tag, class: "form-control", placeholder: "「、」で区切って入力してください", value: @tag %>
        </div>
        <div class="text-center mb-5 pt-5">
          <%= link_to "やめる", root_path, class: "btn btn-secondary mx-4" %>
          <%= f.submit "登録", class: "btn btn-primary mx-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>