<% content_for(:title, @vtuber.name) %>
<% assign_meta_tags title: @vtuber.name, image: @vtuber.image.url %>

<div class="container" style="background-color: #b7ffdb;">
  <div class="row my-5">
    <div class="col-xl-6 mt-5 text-center">
      <% case @vtuber.gender %>
      <% when "男性" then %>
        <%= image_tag @vtuber.image.url, class: "rounded-circle", size: "300x300", style: "border: solid; border-color: #0000ff;" %>
      <% when "女性" then %>
        <%= image_tag @vtuber.image.url, class: "rounded-circle", size: "300x300", style: "border: solid; border-color: #ff0000;" %>
      <% when "その他" then %>
        <%= image_tag @vtuber.image.url, class: "rounded-circle", size: "300x300", style: "border: solid; border-color: #ffff00;" %>
      <% when nil then %>
        <%= image_tag @vtuber.image.url, class: "rounded-circle border border-black", size: "300x300" %>
      <% end %>
    </div>
    <div class="col-xl-6 d-flex justify-content-center align-items-center flex-column">
      <div class="display-4 mt-5">
        <%= @vtuber.name %>
      </div>
      <div class="d-flex mt-4">
        <% case @vtuber.vtuber_places.last.place.name %>
        <% when "YouTube" then %>
          <%= link_to "#{@vtuber.vtuber_places.last.place.name}", @vtuber.vtuber_places.last.url, class: "btn btn-danger mx-3" %>
        <% when "Twitch" then %>
          <%= link_to @vtuber.vtuber_places.last.url do %>
            <%= image_tag "logo-twitch.png", size: "36x42", class: "mx-3" %>
          <% end %>
        <% end %>
        <% if @vtuber.name_x.present? %>
          <span class="pt-1">
            <%= link_to "https://twitter.com/#{@vtuber.name_x}" do %>
              <%= image_tag "logo-x.png", size: "25x25", class: "mx-3" %>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <div class="text-center my-5", id="favorite_<%= @vtuber.id %>">
        <%= render 'favorites/favorite', vtuber: @vtuber %>
      </div>
    </div>
  </div>
  
  <div class="row" style="flex-direction: column-reverse;">
    <% if @vtuber.name_x.present? %>
      <div class="col-xl mb-5">
        <a class="twitter-timeline" data-lang="ja" data-height="700", data-width="500" href="https://twitter.com/<%= @vtuber.name_x %>?ref_src=twsrc%5Etfw">Tweets by <%= @vtuber.name_x %>></a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <% end %>
    
    <div class="col-xl">
      <ul class="list-unstyled">
        <div class="row justify-content-start">
          <div class="col-4 ">
            <li class="text-center">　　　性別：</li>
          </div>
          <div class="col-8"><%= @vtuber.gender %></div>
        </div>
        <div class="row pt-3 justify-content-start">
          <div class="col-4">
            <li class="text-center">　　誕生日：</li>
          </div>
          <div class="col-8"><%= @vtuber.birthday.strftime('%-m / %-d') %></div>
        </div>
        <div class="row pt-3 justify-content-start">
          <div class="col-4">
            <li class="text-center">デビュー日：</li>
          </div>
          <div class="col-8"><%= @vtuber.debut_date.strftime('%Y / %-m / %-d') %></div>
        </div>
        <div class="row pt-3 justify-content-start">
          <div class="col-4">
            <li class="text-center">　配信内容：</li>
          </div>
          <div class="col-8">
            <% (@vtuber.contents).each_with_index do |content, index| %>
              <%= content.name %>
              <%= "、" if index < @vtuber.contents.size - 1 %>
            <% end %>
          </div>
        </div>
        <div class="row pt-3 justify-content-start">
          <div class="col-4">
            <li class="text-center">好きなこと：</li>
          </div>
          <div class="col-8"><%= @vtuber.like %></div>
        </div>
        <div class="row pt-3 justify-content-start">
          <div class="col-4 ">
            <li class="text-center">嫌いなこと：</li>
          </div>
          <div class="col-8"><%= @vtuber.unlike %></div>
        </div>
        <div class="row pt-3 justify-content-start">
          <div class="col-4">
            <li class="text-center">　　　タグ：</li>
          </div>
          <div class="col-8">
            <% (@vtuber.tags).each_with_index do |tag, index| %>
              <%= link_to tag.name, root_path(tag: tag.name) %>
              <%= "、" if index < @vtuber.tags.size - 1 %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>


  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col border mx-auto mb-5">
      <p class="mt-3", id="js-comment-count">コメント（<%= @vtuber.comments.count %>）</p>
      <% if logged_in? %>
        <%= form_with model: [@vtuber, @comment], url: vtuber_comments_path(@vtuber), method: :post, local: false, id: "js-comment-form" do |f| %>
          <%= render 'shared/error_message', object: f.object %>
          <div class="mb-3 mt-3">
            <%= f.text_area :body, class: "form-control", placeholder: "コメントを入力", id: "comment-clear" %>
          </div>
          <div class="mb-5">
            <button type="button" class="btn btn-secondary" onclick="clearTextarea()">やめる</button>
            <%= f.submit "投稿", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
      <div id="comments-index">
        <%= render 'comments/comments', vtuber: @vtuber %>
      </div>
    </div>
  </div>
</div>

<div class="parent parent1">
  <div class="text_area">サンプルテキストサンプルテキストサン</div>
  <div class="img_area">
    <div class="img">
      <img src="https://placehold.jp/100x68.png" alt="">
    </div>
  </div>
</div>

<div class="parent parent2">
  <div class="img_area">
    <div class="img">
      <img src="https://placehold.jp/100x68.png" alt="">
    </div>
  </div>
  <div class="text_area">サンプルテキストサンプルテキストサン</div>
</div>

<div class="parent parent3">
  <div class="text_area">サンプルテキストサンプルテキストサン</div>
  <div class="img_area">
    <div class="img">
      <img src="https://placehold.jp/100x68.png" alt="">
    </div>
  </div>
</div>