<% if @vtubers.present? %>
      <% @vtubers.each do |vtuber| %>
        <div class="col">
          <%= link_to show_path(vtuber.id), class: "text-decoration-none" do %>
            <% case vtuber.gender %>
            <% when "男性" then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle", size: "250x250", style: "border: solid; border-color: #0000ff;" %>
            <% when "女性" then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle", size: "250x250", style: "border: solid; border-color: #ff0000;" %>
            <% when "その他" then %>
              <%= image_tag vtuber.image.url, class: "rounded-circle", size: "250x250", style: "border: solid; border-color: #ffff00;" %>
            <% end %>
            <p class="mb-5 fs-1 text-body"><%= vtuber.name %></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="col">
        条件に合うVTuberは登録されていません
      </div>
    <% end %>