<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= show_meta_tags %>

    <script src="https://kit.fontawesome.com/d2eb4f1d60.js" crossorigin="anonymous"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJG7GLQDX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-LTJG7GLQDX');
    </script>
  </head>

  <body>
    <div class="footerFixed">
      <header>
        <% if logged_in? %>
          <%= render 'shared/after_login_header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </header>

      <%= render 'shared/flash_message' %>
      <%= yield %>
      
      <footer class="position-absolute fixed-bottom w-100">
        <% if logged_in? %>
          <%= render 'shared/after_login_footer' %>
        <% else %>
          <%= render 'shared/before_login_footer' %>
        <% end %>
      </footer>
    </div>
  </body>
</html>
